<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users management</title>
</head>
<body class="body"
      th:style="'background: url(' + @{/pictures/gray_background5.jpg} + '); background-size: cover; width: 100%; height: 100%'">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/logout">Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/admin">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="container">
    <form action="#" method="post" th:action="@{/admin/user/add/student}" th:object="${tripleStringWrapper}">
        <div class="form-group">
            <br/>
            <h5 class="text-light bg-dark">Connect added user with Student entity:</h5>
            <br/>
            <div class="row">
                <div class="col">
                    <label for="userID">User ID:</label>
                    <select id="userID" th:field="*{parameter1}" class="form-control">
                        <option th:value="${userID}" th:text="${userID}"/>
                    </select>
            </div>
                <div class="col">
                    <label for="parent">Choose parent:</label>
                    <select id="parent" th:field="*{parameter2}" class="form-control">
                        <option th:each="parentsElem : ${parents}"
                                th:value="${parentsElem.parentID}" th:text="${parentsElem.user.getBasicUserData()}"/>
                    </select>

                </div>
                <div class="col">
                    <label for="class">Assign user to class:</label>
                    <select id="class" th:field="*{parameter3}" class="form-control">
                        <option th:each="class : ${classes}"
                                th:value="${class.classID}" th:text="${class.getBasicClassInfo()}"/>
                    </select>
                    <label for="submit">Confirm:</label>
                    <br/>
                    <input id="submit" type="submit" value="Connect with added user" class="btn btn-secondary">
                    <br/>
                    <br/>
                    <a class="badge badge-danger"
                       th:href="@{/admin/user/delete/{userID}(userID=${userID})}"><h6>--Cancel and delete user--</h6></a>
                </div>
            </div>
        </div>
    </form>
</div>
<br/>
<br/>
<br/>
<br/>
<footer class="fixed-bottom">
    <div class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <p>Find project on Github: <a href="https://github.com/latusikl/eGradeBook">eGradeBook</a></p>
            <p><b>GNU GENERAL PUBLIC LICENSE</b></p>
        </div>
    </div>
</footer>
</body>
</html>