<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Class absence</title>
</head>
<body class="body"
      th:style="'background: url(' + @{/pictures/gray_background5.jpg} + '); background-size: cover; width: 100%; height: 100%'">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/logout">Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/headmaster/">Home </a>
            <a class="nav-item nav-link" href="/headmaster/cases/">Cases</a>
            <a class="nav-item nav-link" href="/headmaster/grades/">Generate grades raport</a>
            <a class="nav-item nav-link active" href="/headmaster/absence/">Generate absence raport</a>
            <a class="nav-item nav-link" href="/headmaster/overview/">Overview student</a>
            <a class="nav-item nav-link" href="/headmaster/timetable/">Timetables</a>
        </div>
    </div>
</nav>
<div class="container">
    <form method="post" th:action="${'/headmaster/absence'}">
        <div class="form-group">
            <label for="selectedClass">Select Class:</label>
            <select class="form-control" id="selectedClass" name="selectedClass">
                <option th:each="c : ${class}"
                        th:value="${c.classID}"
                        th:text="${c.name}"/>
            </select>
            <br>
            <button type="submit" class="btn btn-secondary">Choose Class</button>
        </div>
    </form>

    <div th:switch="${absenceComplete}">
        <div th:case="false"><i>Something gone wrong!</i></div>
        <div th:case="true">
            <h2>Absence in class <span th:text="${chosenClass}"></span>: <span th:text="${absence}"></span></h2>
        </div>
    </div>


</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<br/>
<br/>
<br/>
<br/>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <p>Find project on Github: <a href="https://github.com/latusikl/eGradeBook">eGradeBook</a></p>
        <p><b>GNU GENERAL PUBLIC LICENSE</b></p>
    </div>
</footer>
</body>
</html>