<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Attendance and grades</title>
</head>
<body>
<div th:switch="${grades}">
    <h2 th:case="null">No grades yet!</h2>
    <div th:case="*">
        <h2>
            <p>Hello <span th:text="${student.user.name}"  />
                <span th:text="${student.user.surname}"  />! </p>

        </h2>
        <h5>Your grades:</h5>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject name</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Mark</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grade : ${grades}">
                <td th:text="${grade.gradeID}"></td>
                <td th:text="${grade.subject.name}"></td>
                <td th:text="${grade.date}"></td>
                <td th:text="${grade.description}"></td>
                <td th:text="${grade.mark}"></td>
            </tr>
            </tbody>
        </table>

        <h5>Your attendance:</h5>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject name</th>
                <th scope="col">Date</th>
                <th scope="col">Presence</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="presence : ${attendance}">
                <td th:text="${presence.presenceID}"></td>
                <td th:text="${presence.subject.name}"></td>
                <td th:text="${presence.date}"></td>
                <td th:text="${presence.present}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>