<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Users management</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/logout">Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/admin/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/user/add">Show users <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div th:switch="${users}">
<h4 class="text-danger" th:case="null">No users yet!</h4>
    <h5>Users</h5>
<div style="text-align: center" th:case="*">

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>User name</th>
            <th>Password</th>
            <th>ID</th>
            <th>Email</th>
            <th>RoleType</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.userID}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roleType}"></td>
            <td><a class="text-dark" th:href="@{/user/delete/{userID}(userID=${user.userID})}">Delete</a></td>
        </tr>
        </tbody>
</table>
</div>
</div>
</body>
</html>